<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="college"
		class="edu.wccnet.aurewhite.DI_XML_demo.College">
	
		<constructor-arg name="collageName" value="WCC"></constructor-arg>
		<constructor-arg name="yearBuilt" value="1965"></constructor-arg>
		<property name="zipCode" value="48105"></property>
		<property name="enrollment" value="20000"></property>

	</bean>
</beans>
